<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <img class="portrait" src="/img/pp.jpg">
        <p>Hello There ! I Am Mitesh Tank a Student and Developer </p>
        <p>Contact Me :-
            <a href="https://github.com/codewithmitesh" target="_blank" class="Social_Links ">
                <p>Github</p>
            </a>
            <a href="https://www.linkedin.com/in/mitesh-tank/" target="_blank " class=" Social_Links">
                <p>LinkedIn</p>
            </a>
        </p>
    </div>

    {{>footer}}
</body>

</html>