<!DOCTYPE html>

<html>

<head>
    <title>Help</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>{{helpText}}</p>
        <p style=" font-weight : bold ">How To Use :- </p>
        <p> - Type the name of the location in the box on Home page </p>
        <p> - Press the Search Button </p>
        <p> - See the Weather Information of Your Location </p>

    </div>

    {{>footer}}
</body>

</html>