<!DOCTYPE html>

<html>

<head>
    <title>Get Weather</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">

</head>

<body>
    <div class="main-content">
        {{>header}}

        <p> Use this site to get your weather information!</p>
        <div class="glass-div">
            <form action="">
                <div class="Input-container">
                    <input placeholder="Location" class="Location_field">

                </div>
                <div class="btn-container">
                    <button class="btn ">Search </button>
                </div>
                </input>
            </form>

        </div>

        <div class="widget">

            <div class="left-panel panel">
                <p class="date">
                    Monday, 20 Aug 2018
                </p>
                <p class="city">
                    mumbai
                </p>
                <p class="temp">
                    25 &degC
                </p>
            </div>
            {{!-- <div class="right-panel panel">
                <img src="https://s5.postimg.cc/lifnombwz/mumbai1.png" alt="" width="160">
            </div> --}}

        </div>


        {{!--
        <p id="Msg1"></p>
        <p id="Msg2"></p> --}}
    </div>

    {{>footer}}
    <script src="/js/app.js"></script>
</body>

</html>